@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 239, 237, 239;
  --background-start-rgb: 15, 9, 19;
  --background-end-rgb: 15, 9, 19;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: rgb(15, 9, 19);
  background: linear-gradient(
    180deg,
    rgba(15, 9, 19, 1) 28%,
    rgba(61, 46, 16, 1) 50%,
    rgba(15, 9, 19, 1) 67%
  );
  background-attachment: fixed;
}
